:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* COLOR VARIABLE */

  --header: #ff218c;
  --header-dark: #d40066;

  /* SIZE VARIABLE */
  --gap: 10px;
  --padding-lg: 1rem;
}

body, html, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.label{
  display: flex;
  gap: var(--gap);

  img{
    height: 30px;
    width: 30px;
  }
}