.sidebar{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: 300px;
    min-width: 300px;
    width: 300px;

    .category{
        border: 1px solid #00000020;
        box-shadow: 0px 0px 10px 0px #00000020;

        > .label{
            background-color: var(--header);
            color: white;
            border: none;

            &::after{
                display: none;
            }
        }

        .list{
            display: flex;
            flex-direction: column;
            gap: var(--gap);

            .label:last-child{
                margin-bottom: calc(var(--gap) - 5px);

                &::after{
                    display: none;
                }
            }
        }
    }
}